<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <title>Vue Course</title>
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image" :alt="description" srcset="" />
          {{name}}
        </div>
        <div class="product-info">
          <h1>{{title}}</h1>
          <ul>
            <li v-for="(item,i) in details" :key="i">
              <ul>
                <lh style="font-weight: bold">{{item.name}}</lh>
                <li style="margin: 0 20px; color: #7a6f6f">{{item.price}}</li>
                <li style="margin: 0 20px; color: #7a6f6f">{{item.type}}</li>
              </ul>
              <hr />
            </li>
          </ul>
          <!-- <p :display=["inStock"]>instock</p> -->
          <!-- <p v-else>outstock</p> -->
          <p
            v-show="inventory <=10 && inventory > 0"
            :class="{outstock : !instock}"
          >
            Almost Sold Out
          </p>
          <p v-show="inventory <=0 ">Sold Out</p>
          <p v-show="onsell">OnSell</p>
          <button @click="updateCartValue" :disabled="!instock">
            AddToCart
          </button>
          <button @click="decrementCartValue">DeleteToCart</button>
          <div class="cart">
            <p>(cart{{cart}})</p>
          </div>

          <div
            v-for="(item, i) in details"
            :style="{backgroundColor: item.color }"
            class="color-box"
            :key="i"
            @mouseover="updateImage(item.image,item.name)"
          ></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
