body{
    font-size: 22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    }
    *{
        margin : 0;
        padding: 0;
    }

    input[type="text"]{
        margin:10px 10px;
        display: block;
    }
.product-image{
    display: flex;
    margin: 0 0;
    padding: 0 0;
    flex-direction: column;
}
    h1 {
    /* display: block; */
     font-size: 2em; 
     margin:0 0; 
    padding:0 0; 
    /* font-weight: bold; */
}
.product {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    /* margin: 60px 20px; */
    flex-direction: row-reverse;
    justify-content: space-evenly;
    }
.product-info{
        padding-top: 0px;
        margin-top: 0px;
        font-size: 1 em; 
}
.color-box{
    width:20px;
    height:20px;
}

.outstock{
    text-decoration: line-through;
}
.review-form{
    display:
    flex;
    border: 1px solid #E0E0E0;
    height:
    auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: baseline;
    padding:10px;
}
.review-form p{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: space-around;
    justify-content: flex-start;
}
.review-form p input{
    box-sizing: border-box;
      border-radius:7px;
      width:15em;
      height:2em;
      border: 1px solid #E0E0E0;
      padding:5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size:1em
}
.review-form p label{
     margin: 10px 0px;
     width:4em
}